.searchButton {
  display: flex;
  min-width: 55px;
  border: none;
  justify-content: center;
  align-items: center;
  background: #e46846;
  width: 76;
  height: 60;
  border-radius: 16px;
  flex: 1;

  &:hover {
    background: rgb(107, 136, 38);
    cursor: pointer;
  }
}
.icon {
  width: 24px;
  height: 24px;
}
