.airportNames {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 160px;
  color: #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
