.form {
  display: flex;
  justify-content: center;
  position: relative;

  .panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    background: #ffffff;
    padding: 8px 24px;
    margin: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 6px 12px rgba(71, 67, 78, 0.08),
      0px -6px 8px rgba(71, 67, 78, 0.02);
    border-radius: 16px;
  }
}
