.background {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(71, 67, 78, 0.2);

  .from {
    width: 50%;
  }

  .to {
    width: 50%;
  }
}
.children {
  position: relative;
}
